
<div class="container">
    <div class="row">
          <div class="col-md-12">
          <h1 class="platesheader">Orders</h1>
          </div>
    </div>

      <div class="row">
  
      </div>
      
      <div class="row">
        <div class="col-md-10">
          <div id="pendingorders">
            <h2>Orders Pending For Your Restaurant</h2>
            <ul style="list-style: none;">
              {{#each pendingorders}}

                    <li class="row">
                    <br>
                    <h5><strong>ORDER INFORMATION</strong></h5>
                    <strong>Customer Name: </strong>{{this.guest.first_name}} {{this.guest.last_name}}<br>
                    <strong>Plate Name: </strong>{{this.plate.plate_name}}<br>
                    <strong>Plate Protein: </strong>{{this.plate.protein}}<br>
                    {{#if this.plate.side1}}
                    <strong>Plate Side 1: </strong>{{this.plate.side1}}<br>
                     {{/if}}
                    {{#if this.plate.side2}}
                    <strong>Plate Side 2: </strong>{{this.plate.side2}}<br>
                    {{/if}}
                     {{#if this.plate.side3}}
                    <strong>Plate Side 3: </strong>{{this.plate.side3}}<br>
                    {{/if}}
                    <strong>Quantity: </strong>{{this.quantity}}<br>
                  <div id="completeform">
                    <form action="/completeplate/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="completed" value="true">
                      <button type="submit">Order Complete</button>
                    </form>
                    </div>
                  </li>
            
              {{/each}}
            </ul>
        </div>
      </div>
</div>