
<div class="container">
    <div class="row">
          <div class="col-md-12">
          <h1 class="purchaseheader">Purchase Summary</h1>
          </div>
    </div>

      <div class="row">
  
      </div>
      
      <div class="row">
        <div class="col-md-10">
          <div id="purchasesummary">
            <h2>Plates Purchased!</h2>
            <ul style="list-style: none;">
                <h5><strong>ORDER SUMMARY</strong></h5>
           {{#each purchasesummary}}

              <li class="row">
                    <br>
                  
              
                    <strong>Restaurant Name: </strong>{{this.restaurant.first_name}} {{this.guest.last_name}}
                    <strong>Plate Name: </strong>{{this.plate.plate_name}}
                    <strong>Quantity: </strong>{{this.quantityordered}}
          
                    <strong>Price per Plate: </strong>{{this.plate.price}}
                     {{!-- <form action="/purchaseplates/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="PlatePurchaseID" value={{this.id}}>
                      <button type="submit">Pay For Order</button>
                    </form> --}}
                  
                  </li>
            
              {{/each}}
            </ul>
        </div>
      </div>

    
</div>

        {{!-- <div class="col-md-6">
          <div id="purchasetopay">
            <h2>Pay for Your Purchases</h2>
              <ul style="list-style: none;">
              {{#each purchasesummary}}

              <li class="row">
                    <br>
                    <h5><strong>ORDER SUMMARY</strong></h5>
                    <strong>TEMP ID: </strong>{{this.id}}<br>
                    <strong>Restaurant Name: </strong>{{this.restaurant.first_name}} {{this.guest.last_name}}<br>
                    <strong>Plate Name: </strong>{{this.plate.plate_name}}<br>
                    <strong>Quantity: </strong>{{this.quantityordered}}<br>
          
                    <strong>Price per Plate: </strong>{{this.plate.price}}<br>
                     <form action="/purchaseplates/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="PlatePurchaseID" value={{this.id}}>
                      <button type="submit">Pay For Order</button>
                    </form>
                  
                  </li>
            
              {{/each}}
            </ul>
        </div>
    </div>
    </div> --}}
